.data-content-container {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 75%;
}

.data-content-border {
  margin: 15px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}